<div>
    <section id="one" class="main style1">
        <div class="container">
            <div class="row 150%">
                <div class="6u 12u$(medium)">
                    <header class="major">
                        <h2>Network behavior codification<br />
                        </h2>
                    </header>
                    <p>
                        This project uses the encoding network behavior proposed by <a href="https://stratosphereips.org/"><strong>Stratosphere Intrusion Prevention
                        System (IPS)</strong></a>.
                        Stratosphere IPS to encode the behavior of a connection, starts by aggregating the flows according to a 4-tuple composed of:
                        the source IP address, the destination IP address, the destination port and the protocol. All the flows that match a tuple are
                        aggregated to gether and compose a Stratosphere connection. From a traffic capture several of these Stratosphere connections are
                        created.
                    </p>

                </div>
                <div class="6u$ 12u$(medium) important(medium)">
                    <span class="image fit"><img src="/bower_components/user_manual/images/codification.png" alt="" /></span>
                </div>
            </div>
            <div class="row 150%">
                <p>
                    The behavior of a connection is computed as follows:
                </p>
                <ul>
                    <li>Extract three features of each flow: size, duration and
                        periodicity.</li>
                    <li>Assign to each flow a state symbol according to the
                        features extracted.</li>
                    <li>After the assignment, each connection has its own string
                        of symbols that represents its behavior in the network.</li>
                </ul>
                <p>
                    Finally connection behavior encoding for all the flows in a Stratosphere connection
                    look like this:
                </p>
                <h3>
                    <strong>2.4.R*R.R.R*a*b*a*a*b*b*a*R.R*R.R*a*a*b*a*a*a*a*</strong>
                </h3>
            </div>
        </div>
    </section>
</div>